.header {
    background-color: #000080; /* Bleu */
    color: #FFFFFF; /* Blanc */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__title {
    margin: 0;
}

.header__nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header__nav-item a {
    color: #FFFFFF; /* Blanc */
    text-decoration: none;
}

.header__nav-item a:hover {
    text-decoration: underline;
}
